    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        max-width: 1000px;
        margin: 0 auto;
        height:200px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
    }
    nav{
        margin: 0 auto;
        text-align: center;
        height:100px;
        background-color: rgb(250, 251, 252);
        display: flex;
        justify-content: space-between;
    }
    main{
        margin: 0 auto;
        height:800px;
        background-color: rgb(243, 243, 239);
        display: flex;
        flex-direction: column;
    }
    
    header.slide {
        position: relative;
        overflow: hidden;
    }
    /*包裹img的容器*/
    ul { 
        margin: 0 auto;
        list-style: none; 
        width: 99999px;
        animation: swiperRun 10s infinite 2s running;
    }

    li {
        width: 1080px;
        height: 200px;
        float: left;
    }
    img {
        width: 100%;
        height: 100%;
     }
     .circle {
        width: 300px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 10px;
    }/*绘制圆形*/
    .circle div {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid white;
        float: left;
        margin: 0 10px;

        }
        /* 鼠标滑过暂停播放 */
    .slide:hover ul,.slide:hover .active{
        animation-play-state: paused;
        cursor: pointer;
    }/*设置实心圆点*/
    .circle .active {
        opacity: 1;
        background-color: #FFF;
        animation: circleRun 10s infinite 2s running;
    }
    /* 让图片动起来的动画 */
    @keyframes swiperRun {
            /* 第一张 */ /*此处我的尺寸是慢慢试出来的*//*初始的尺寸好像有点问题*/
            0% {
                transform: translateX(40px);
            }
            /* 第二张 */ /*此处我的尺寸是慢慢试出来的*/
            5% {
                transform: translateX(-1120px);
            }
            /*下面移动的幅度都为1024px*/
            25% {
                transform: translateX(-1120px);
            }
            /* 第三张 */
            30% {
                transform: translateX(-2200px);
            }

            50% {
                transform: translateX(-2200px);
            }
            /* 第四张 */
            55% {
                transform: translateX(-3280px);
            }

            75% {
                transform: translateX(-3280px);
            }
            /* 第五张 */
            80% {
                transform: translateX(-4360px);
            }

            100% {
                transform: translateX(-4360px);
            }
    }
    /*让圆点动起来*/
    @keyframes circleRun {
            /* 第一个点 */
            0% {
                transform: translateX(40px);
                opacity: 1;
            }
            /* 第二个点 */
            5% {
                transform: translateX(80px);
                opacity: 1;
            }
            25% {
                transform: translateX(80px);
                opacity: 1;
            }
            /* 第三个点 */
            30% {
                transform: translateX(120px);
                opacity: 1;
            }
            50% {
                transform: translateX(120px);
                opacity: 1;
            }
            /* 第四个点 */
            55% {
                transform: translateX(160px);
                opacity: 1;
            }

            75% {
                transform: translateX(160px);
                opacity: 1;
            }
            77% {
                transform: translateX(39px);
                opacity: 0;
            }
            /* 第五个点  移回去 */
            80% {
                transform: translateX(40px);
                opacity: 1;
            }
            100% {
                transform: translateX(40px);
                opacity: 1;
            }
        }
        /*下面设计内容*/
        .recommendation{
            position: relative;
            top: 20px;
        }
        h1{ margin: 0;
            height: 100px;
            width: 200px;
            text-align: center;
        }
        #find-more{  
            width: 50px;
            border: solid pink;
            border-radius: 10px;
            color: black;
            background-color: antiquewhite;
            position: absolute;
            top: 0;
            right: 0;
        }
        div.container{
            display: flex;
            position: relative;
            bottom: 60px;
            justify-content: space-between;
            
        }
        article{
            margin: 0px;
            height: 150px;
            width: 150px;
            display: flex;
            flex-direction: column;
            
        }
        article img{
            margin :0 auto;
            height:130px;
            width: 150px;
            border-radius: 10px;
        }
        /*播放器*/
        .music{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position:fixed;
            bottom: 0;
            right: 0;
        
        }
        
        .title {
            font-weight: 400;
            font-size: 2em;
            color:coral;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .player {
            position: relative;
            width: 500px;
            min-height: 100px;
            background:#fbfbfb;
            border: 2px solid #fff;
            border-radius: 80px;
            padding: 20px 30px;
            box-shadow: -10px -10px 15px#fff,
                        10px 10px 15px rgba(0,0,0,0.1),
                        inset -5px -5px 15px #fff,
                        inset 5px 5px 15px rgba(0,0,0,0.1) ;
        }
        
        .btns {
            /* position: relative; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            /* background: red; */
        
        }
        .btns div {
            position: relative;
            width: 80px;
            height:80px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #777;
            cursor: pointer;
            box-shadow: inset 0 -5px 5px rgba(0,0,0,0.1),
                              0 5px 10px rgba(0,0,0,0.1),
                              0 10px 15px rgba(0,0,0,0.1);
        
        }
        .btns div:active,
        .btns div.active
         {
            color:coral;
            box-shadow: inset 0 -2px 5px rgba(0,0,0,0.15),
                        inset 0 2px 5px rgba(0,0,0,0.15);
        }
        
        .btns .playPause {
            height: 100px;
            width: 100px;
        
        }
        .btns .material-icons {
            font-size: 2em;
        
        }
        .btns .playPause span {
            font-size: 3em;
        } 
        @keyframes player{
            0% {opacity: 0;
                
            }
            
            25% {
                opacity: 0.25;
            }
            50% {
                opacity: 0.5;
            }
            75% {
                opacity: 0.75;
            }
            100% {
                opacity: 1;
            }
        }
        .music{
            animation: player 2s infinite  ;
        }
        .slide:hover .music{
            animation-play-state:paused;
        }